.textButton {
    position: relative;
    margin: 28vw 0 20vw
}

.textButton_grid {
    display: grid;
    grid-template-areas: "Area" "Area-2" "Area-3";
    grid-template-columns: 1fr;
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.textButton_heading {
    grid-area: Area;
    align-self: start;
    justify-self: start;
    overflow: hidden;
    display: flex
}

.textButton_number {
    margin: .6vw 0 0 1vw;
    font-size: 1.2vw;
    line-height: .8
}

.textButton_subHeading {
    grid-area: Area-2;
    align-self: start;
    justify-self: start;
    width: 72%
}

.textButton_box {
    grid-area: Area-3
}

.textButton_paragraph {
    margin-bottom: 10vw
}

.textButton_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw
}

.textButton_city {
    margin-bottom: .4vw
}

@media screen and (max-width:480px) {
    .textButton {
        margin: 12vw 0
    }

    .textButton_grid {
        grid-template-areas: "Area" "Area-2" "Area-3";
        grid-template-columns: 1fr;
        column-gap: 2vw;
        row-gap: 4vw
    }

    .textButton_number {
        font-size: 4vw;
        margin: .8vw 0 0 1.6vw
    }

    .textButton_paragraph {
        margin-bottom: 8vw
    }

    .textButton_info {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8vw
    }
}

@media screen and (min-width:481px)and (max-width:768px) {
    .textButton {
        margin: 8vw 0
    }

    .textButton_grid {
        grid-template-areas: "Area" "Area-2" "Area-3";
        grid-template-columns: 1fr;
        column-gap: 2vw;
        row-gap: 4vw
    }

    .textButton_number {
        margin-top: .4vw;
        font-size: 12px
    }

    .textButton_paragraph {
        margin-bottom: 4vw
    }

    .textButton_info {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4vw
    }
}

@media screen and (min-width:769px) {
    .textButton_grid {
        grid-template-areas: "Area Area Area Area Area Area Area Area" "Area-2 Area-2 Area-2 . Area-3 Area-3 Area-3 .";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto
    }

    .textButton_number {
        margin: .6vw 0 0 1vw;
        font-size: 1.2vw;
        line-height: .8
    }

    .textButton_paragraph {
        margin-bottom: 2vw
    }
}

@media screen and (min-width:1281px) {
    .textButton {
        margin: 8vw 0 4vw
    }
}