.animation_moveUp {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveUp {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveUp_desk--label {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveUp_desk--label {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveDown {
    transform: translateY(-120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveDown {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fadeRotate {
    opacity: 0;
    transform: scale(1.3) rotate(8deg);
    transition: opacity 1s cubic-bezier(.075, 0, .165, 0), transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_fadeRotate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: var(--delay)
}

.animation_fadeUp__des {
    opacity: 0;
    transform: translateY(80%);
    transition: opacity 1s cubic-bezier(.075, 0, .165, 0), transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_fadeUp__des {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fillWidth__bd {
    width: 0;
    transition: width 1s cubic-bezier(.3, .3, 0, 1)
}

.animation_ready .animation_fillWidth__bd {
    width: 100%;
    transition-delay: var(--delay)
}

.animation_fillHeight__bg {
    height: 0%;
    transition: height 6s cubic-bezier(.3, .3, 0, 1)
}

.animation_ready .animation_fillHeight__bg {
    height: 100%;
    transition-delay: var(--delay)
}

.Animation_moveUpImg__Y17vs {
    transform: translateY(120%);
    transition: transform 2.4s cubic-bezier(.4, .4, .1, 1)
}

.animation_ready .Animation_moveUpImg__Y17vs {
    transform: translateY(0);
    transition-delay: var(--delay)
}

@media screen and (max-width: 480px) {
    .animation_moveUp_desk--label {
        transform: translateY(0);
        transition: none
    }

    .animation_moveUp_mobi--label {
        transform: translateY(120%);
        transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
    }

    .animation_ready .animation_moveUp_mobi--label {
        transform: translateY(0);
        transition-delay: var(--delay)
    }
}

@keyframes transition_loading {
    0% {
        height: 0;
        opacity: 1
    }

    50% {
        height: 100%;
        opacity: 1
    }

    to {
        height: 100%;
        opacity: 0
    }
}

.transition_wrapper__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 998;
    color: #fafafa;
    background-color: #0f0f0f;
    transform: translateY(110%);
    transition: none
}

.transition_wrapper__loading.transition_loading {
    transition: transform .8s cubic-bezier(.24, .36, 0, 1);
    transform: translateY(0)
}

.transition_wrapper__loading.transition_loaded {
    transform: translateY(-110%)
}

.transition_logo {
    position: absolute;
    margin: auto
}

.transition_logo--back {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #3c3c3c;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--mask {
    overflow: hidden;
    height: 0;
    transform-origin: 50% 100%
}

.transition_logo--text {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #ccc4b9;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--text,
.transition_logo--mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.transition_loading .transition_logo--mask {
    animation: transition_loading 4s linear .8s infinite
}

@media screen and (max-width: 480px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 5vw;
        font-size: 5vw
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 769px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 1281px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 1.5vw;
        font-size: 1.5vw
    }
}

.Cookies_banner__fdun8 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 997;
    color: #f0f0f0;
    background: #0f0f0f;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    padding: 8px 10px 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 20px
}

.Cookies_text__9X85o {
    padding-bottom: 2px
}

.Cookies_buttons__p_Grl {
    display: flex;
    gap: 10px
}

.Cookies_link__UjlDm:after {
    background-color: #f0f0f0 !important
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY {
    color: #a4a4a4
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY:after {
    background-color: #a4a4a4 !important
}

@media screen and (max-width: 480px) {
    .Cookies_banner__fdun8 {
        padding: 2px 20px 0
    }

    .Cookies_text__9X85o {
        display: flex;
        align-items: center
    }

    .Cookies_link__UjlDm {
        height: 40px;
        text-decoration: underline;
        text-underline-offset: 3px
    }
}


.global_cases--container {
    position: relative;
    z-index: 2
}

.work_title--number {
    overflow: hidden
}

.Global_hidden__dPWsA {
    display: none
}

.global_pagename {
    position: relative
}

.Global_desktop__PxvuW {
    display: initial
}

.Global_mobile__Gt8iA {
    display: none
}

.global_link {
    position: relative;
    padding-bottom: 2px;
    text-transform: uppercase
}

.global_link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    background-color: #2a2a2a
}

.global_link.Global_active__0rvE4:after,
.global_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.Global_linkRedraw__GxzsY {
    position: relative;
    transition: transform .3s
}

.Global_linkRedraw__GxzsY:after,
.Global_linkRedraw__GxzsY:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    border-bottom: 1px solid
}

.Global_linkRedraw__GxzsY:after {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center 0
}

.Global_linkRedraw__GxzsY:hover:before {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s ease-in-out .3s, transform .3s ease-in-out 0s
}

.Global_linkRedraw__GxzsY:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease-in-out .3s
}

.global_link--work {
    padding-bottom: .4vw
}

.global_link--work:after {
    height: 2px
}

.global_grey--bg {
    background-color: #f0f0f0;
    color: #2a2a2a
}

.global_green--bg {
    background-color: #bcbcb4;
    color: #2a2a2a
}

.global_dark--bg {
    background-color: #0f0f0f;
    color: #ccc4b9
}

.global_dark--bg .global_link:after {
    background-color: #ccc4b9
}

.global_transparent__bg {
    color: #fafafa
}

.global_transparent__bg .global_link:after {
    background-color: #fafafa
}

@media screen and (max-width: 480px) {


    .Global_desktop__PxvuW {
        display: none
    }

    .Global_mobile__Gt8iA {
        display: initial
    }

    .Global_grid__035aN {
        gap: 4vw;
        padding: 0 4vw
    }

    .global_link:after {
        display: none
    }
}

.Grid_grid__JtSOM {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    z-index: 999999999
}

.Grid_grid__JtSOM div {
    width: 100%;
    background: rgba(0, 0, 0, .1)
}

.Grid_grid__JtSOM.Grid_light__38CuD div {
    background: hsla(0, 0%, 100%, .1)
}

@media screen and (max-width: 480px) {
    .Grid_grid__JtSOM {
        gap: 4vw;
        padding: 0 4vw
    }
}

.interviewBlock_box {
    display: grid;
    grid-template-areas: "Area Area-2";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    padding: 2vw 0
}

.interviewBlock_info {
    grid-area: Area;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.interviewBlock_detail {
    display: flex;
    column-gap: .3vw;
    overflow: hidden
}

.interviewBlock_info--title {
    display: flex;
    flex-direction: column;
    row-gap: 1vw
}

.interviewBlock_author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.interviewBlock_excerpt {
    width: 22.5vw
}

.InterviewBlock_play__zydv9 {
    width: 1.66666vw;
    height: 1.66666vw
}

.interviewBlock_img {
    grid-area: Area-2;
    position: relative;
    overflow: hidden
}

.InterviewBlock_line__xlKuF {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsla(33, 16%, 76%, .3)
}

.interview_comingSoon--box {
    padding-bottom: 3vw
}

.interview_comingSoon--box .interviewBlock_notify {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7)
}

.interview_comingSoon--box .interviewBlock_tag {
    margin-top: 1.1111111111vw
}

.interview_comingSoon--box .interviewBlock_title {
    margin-top: .5555555555vw
}

.interview_comingSoon--box .interviewBlock_excerpt {
    margin-top: .6944444444vw
}

@media screen and (max-width: 480px) {
    .interviewBlock_box {
        display: grid;
        grid-template-areas: "Area-2" "Area";
        grid-template-columns: 1fr;
        grid-row-gap: 4vw;
        row-gap: 4vw;
        padding: 4vw 0
    }

    .interviewBlock_detail {
        column-gap: 1.2vw;
        margin-bottom: 10vw
    }

    .interviewBlock_info--title {
        row-gap: 4vw
    }

    .interviewBlock_title {
        column-gap: 1.2vw
    }

    .interviewBlock_excerpt {
        width: 90%
    }

    .InterviewBlock_play__zydv9 {
        display: none
    }

    .interview_comingSoon--box {
        padding: 4vw 0;
        border-bottom: 1px solid hsla(33, 16%, 76%, .3)
    }

    .interview_comingSoon--box:last-child {
        border-bottom: 0
    }

    .interview_comingSoon--box .interviewBlock_notify .InterviewBlock_notify__GMV8h {
        column-gap: 1.2vw
    }

    .interview_comingSoon--box .interviewBlock_tag {
        margin-top: 4vw
    }

    .interview_comingSoon--box .interviewBlock_title {
        margin-top: 10vw
    }

    .interview_comingSoon--box .interviewBlock_excerpt {
        margin-top: 4vw
    }
}

.interviews_header {
    padding: 6vw 0 1.3333333vw;
    display: grid;
    align-items: start;
    grid-template-areas: "Area Area Area Area Area Area Area Area" "Area-2 Area-2 . . Area-3 Area-3 Area-3 ." ". . . . Area-4 Area-4 Area-5 Area-5";
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 3vw;
    row-gap: 3vw;
    justify-items: start
}

.interviews_header--title {
    grid-area: Area;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 1vw
}

.interviews_header--title>span {
    overflow: hidden
}

.interviews_header--title>span:first-child>span {
    padding-right: .3vw
}

.interviews_header--subTitle {
    grid-area: Area-2;
    overflow: hidden
}

.interviews_description {
    grid-area: Area-3;
    margin-bottom: 3vw
}

.interviews_filter {
    position: relative;
    grid-area: Area-4;
    display: flex;
    align-items: center;
    column-gap: .8vw;
    align-self: center
}

.interviews_filter button {
    text-align: left
}

.interviews_openFilter {
    display: flex;
    column-gap: .3vw
}

.interviews_filterDropdown {
    position: absolute;
    top: 100%;
    overflow: hidden;
    z-index: 99;
    display: flex;
    flex-direction: column;
    margin-top: .6vw;
    border-radius: .3vw;
    background-color: #2a2a2a;
    transition: height 1s cubic-bezier(.25, 1, .5, 1)
}

.interviews_filterLabel {
    padding: .8vw .9vw
}

.interviews_filterLabel:hover {
    background: #0f0f0f
}

.interviews_button {
    grid-area: Area-5;
    display: flex;
    column-gap: 12px;
    overflow: hidden
}

.interviews_button svg {
    width: 22px;
    height: 22px
}

.interviews_borderH__line {
    height: 1px;
    background-color: hsla(33, 16%, 76%, .3)
}

.interviews_comingSoon {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    margin-top: 1vw
}

.interviews_comingSoon .interviews_borderV__line {
    position: absolute;
    top: -1vw;
    left: 50%;
    width: 1px;
    height: calc(100% + 1vw);
    background: hsla(33, 16%, 76%, .3)
}

@media screen and (max-width: 480px) {
    .interviews_header {
        padding: 24vw 0 3vw;
        grid-template-areas: "Area Area" "Area-2 Area-2" "Area-3 Area-3" "Area-4 Area-5";
        grid-template-columns: repeat(2, 1fr)
    }

    .interviews_header--title {
        column-gap: 1vw
    }

    .interviews_description {
        margin-top: 8vw
    }

    .interviews_filterText {
        display: flex
    }

    .interviews_filterText,
    .interviews_openFilter {
        height: 40px;
        align-items: center
    }

    .interviews_filterDropdown {
        border-radius: 4px
    }

    .interviews_filterLabel {
        padding: 13px 16px
    }

    .interviews_button {
        align-items: center;
        justify-self: flex-end;
        align-self: center
    }

    .interviews_button svg {
        width: 30px;
        height: 30px
    }

    .interviews_comingSoon {
        grid-template-columns: 1fr;
        margin-top: 0
    }

    .interviews_comingSoon .interviews_borderV__line {
        display: none
    }
}

@media screen and (min-width: 1921px) {
    .interviews_button svg {
        width: 30px;
        height: 30px
    }
}