.form_grid {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: repeat(2, 1fr)
}

.form_grid .Form_message__URb70:not(.Form_inputs__NaeI4) {
    grid-column: 1/span 2
}

.form_grid input::placeholder {
    color: transparent
}

.form_grid textarea::placeholder {
    color: transparent
}

.form_field {
    position: relative;
    height: 100%
}

.form_input {
    width: 100%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 8px
}

.Form_inputs__NaeI4 {
    width: 0;
    height: 0;
    opacity: 0
}

.form_label {
    pointer-events: none;
    position: absolute;
    top: 24px;
    margin-right: 0;
    margin-bottom: 0;
    transform-origin: 0 0;
    transition: .15s;
    font-weight: 400
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    color: #949494;
    transform: translateY(-100%) scale(.75)
}

.form_phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.form_phone .form_input {
    margin-left: 40px;
    width: calc(100% - 40px)
}

.form_phone .form_label {
    margin-left: 40px;
    top: auto;
    bottom: 12px
}

.form_phone .Form_countrySelector__01Gzl {
    position: absolute;
    width: 40px;
    height: 48px;
    padding-top: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer
}

.form_phone .Form_countrySelector__01Gzl svg {
    width: 8px
}

.form_phone .Form_countrySelector__01Gzl.Form_flip__Aib_B svg {
    transform: rotate(180deg)
}

.form_phone .Form_countryList__Ov74Q {
    position: absolute;
    top: 132%;
    width: 100%;
    height: 0;
    flex-direction: row;
    align-content: flex-start;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: scroll;
    z-index: 5;
    box-shadow: 0 6px 12px 0 rgba(56, 56, 56, .16)
}

.form_phone .Form_countryList__Ov74Q.Form_open__Zam4f {
    height: 20vw
}

.form_phone .Form_countryList__Ov74Q li {
    width: 100%;
    padding: 16px 20px;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer
}

.form_phone .Form_countryList__Ov74Q li:focus,
.form_phone .Form_countryList__Ov74Q li:hover,
.form_phone .Form_countryList__Ov74Q li[tabindex="0"] {
    background-color: #d6d6d6
}

.form_phone .Form_countryList__Ov74Q li.Form_divider__kTZpO {
    height: 1px;
    padding: 0;
    margin: 4px 0;
    background-color: #d6d6d6
}

.form_phone .Form_countryList__Ov74Q li span:nth-of-type(2) {
    color: #999
}

.form_phone .Form_flag__XNbbM {
    width: auto;
    height: 20px
}

.form_select {
    position: relative
}

.form_select .Form_selectControl__Mlgpj {
    min-height: 0;
    cursor: text
}

.form_select .Form_selectValueContainer__QmCoR {
    column-gap: 8px;
    row-gap: 2px
}

.form_select .Form_selectMultiValueLabel__HAE9I {
    overflow: visible;
    padding-bottom: 2px
}

.form_select .Form_selectClearIndicator__Xl08K,
.form_select .Form_selectMultiValueRemove__zGEML {
    padding: 4px;
    margin-left: 2px;
    border-radius: 99px;
    cursor: pointer
}

.form_select .Form_selectClearIndicator__Xl08K svg,
.form_select .Form_selectMultiValueRemove__zGEML svg {
    width: 8px
}

.form_select .Form_selectClearIndicator__Xl08K:hover,
.form_select .Form_selectMultiValueRemove__zGEML:hover {
    background-color: #d6d6d6
}

.form_select .Form_selectMultiValueRemove__zGEML {
    border-radius: 99px
}

.form_select .Form_selectDropdownIndicator__7emPy {
    padding: 6px 4px;
    margin-top: -1px;
    margin-left: 2px;
    border-radius: 99px;
    cursor: pointer
}

.form_select .Form_selectDropdownIndicator__7emPy:hover {
    background-color: #d6d6d6
}

.form_select .Form_selectDropdownIndicator__7emPy svg {
    width: 8px
}

.form_select .Form_selectDropdownIndicator__7emPy.Form_flip__Aib_B svg {
    transform: rotate(180deg)
}

.form_select .Form_selectMenu__pCIgZ {
    position: absolute;
    top: 132%;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: scroll;
    z-index: 5;
    box-shadow: 0 6px 12px 0 rgba(56, 56, 56, .16);
    transition: height 1s ease(quartOut), opacity 1s ease(quartIn)
}

.form_select .Form_selectMenuList__H51Xc>div {
    padding: 16px 20px
}

.form_select .Form_selectMenuList__H51Xc div:hover {
    background-color: #d6d6d6;
    cursor: pointer
}

.form_select .form_input:not(:placeholder-shown)+.form_label {
    color: inherit;
    transform: none
}

.form_select .form_label.Form_selected__opzpP {
    color: #949494 !important;
    transform: translateY(-100%) scale(.75) !important
}

.form_line {
    position: relative;
    width: 100%;
    height: 1px;
    overflow: hidden;
    margin-top: -1px;
    background-color: #d6d6d6
}

.form_line--bg {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    transform: translateX(-100%)
}

.Form_invalid__2cEyQ .form_line--bg {
    background-color: #ea3f3f;
    transform: translateX(0) !important
}

.Form_validate__kSHnd {
    color: #ea3f3f;
    position: absolute;
    top: 100%
}

.Form_messageField__908WJ {
    grid-column: span 2
}

.Form_submission__OXE3Y {
    position: relative;
    align-self: start;
    justify-self: start;
    margin-top: 24px
}

.Form_success__Uwy5O {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2vw
}

.Form_fail__bXE_g {
    visibility: hidden;
    margin-top: 1vw
}

.Form_hide__5olAk {
    visibility: hidden
}

.Form_show__CVFCd {
    visibility: visible
}

@media screen and (max-width: 480px) {
    .form_grid {
        grid-template-columns: 1fr
    }

    .form_field,
    .form_grid .Form_message__URb70 {
        grid-column: 1
    }

    .form_input {
        font-size: 16px
    }

    .Form_messageField__908WJ {
        grid-column: 1
    }
}

.contact_container {
    position: relative;
    padding-top: 2vw
}

.contact_inner {
    min-height: calc(100vh - 56px - 2vw)
}

.contact_grid {
    padding-bottom: 6vw;
    display: grid;
    grid-column-gap: 2vw;
    grid-template-areas: "Area Area-2" "Area-3 Area-4";
    grid-template-columns: repeat(2, 1fr);
    align-items: start
}

.contact_grid form,
.contact_title {
    position: relative
}

.contact_form {
    margin-bottom: 4vw;
    grid-area: Area-2
}

.Contact_description__N45TF {
    width: 22.5vw;
    grid-area: Area-3
}

.Contact_company__xWxD_ {
    display: flex;
    align-items: flex-start;
    gap: 2vw
}

@media screen and (max-width: 480px) {
    .contact_container {
        padding-top: 24vw
    }

    .contact_grid {
        margin-bottom: 12vw;
        grid-row-gap: 12vw;
        grid-template-areas: "Area" "Area-2" "Area-3" "Area-4";
        grid-template-columns: 1fr
    }

    .contact_form {
        margin-bottom: 8vw
    }

    .Contact_description__N45TF {
        width: 100%
    }

    .Contact_company__xWxD_ {
        flex-direction: column;
        gap: 8vw
    }
}


.animation_moveUp {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveUp {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveUp_desk--label {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveUp_desk--label {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveDown {
    transform: translateY(-120%);
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_moveDown {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fadeRotate {
    opacity: 0;
    transform: scale(1.3) rotate(8deg);
    transition: opacity 1s cubic-bezier(.075, 0, .165, 0), transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_fadeRotate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: var(--delay)
}

.animation_fadeUp__des {
    opacity: 0;
    transform: translateY(80%);
    transition: opacity 1s cubic-bezier(.075, 0, .165, 0), transform 1.5s cubic-bezier(.075, .82, .165, 1)
}

.animation_ready .animation_fadeUp__des {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fillWidth__bd {
    width: 0;
    transition: width 1s cubic-bezier(.3, .3, 0, 1)
}

.animation_ready .animation_fillWidth__bd {
    width: 100%;
    transition-delay: var(--delay)
}

.animation_fillHeight__bg {
    height: 0%;
    transition: height 6s cubic-bezier(.3, .3, 0, 1)
}

.animation_ready .animation_fillHeight__bg {
    height: 100%;
    transition-delay: var(--delay)
}

.Animation_moveUpImg__Y17vs {
    transform: translateY(120%);
    transition: transform 2.4s cubic-bezier(.4, .4, .1, 1)
}

.animation_ready .Animation_moveUpImg__Y17vs {
    transform: translateY(0);
    transition-delay: var(--delay)
}

@media screen and (max-width: 480px) {
    .animation_moveUp_desk--label {
        transform: translateY(0);
        transition: none
    }

    .animation_moveUp_mobi--label {
        transform: translateY(120%);
        transition: transform 1.5s cubic-bezier(.075, .82, .165, 1)
    }

    .animation_ready .animation_moveUp_mobi--label {
        transform: translateY(0);
        transition-delay: var(--delay)
    }
}

@keyframes transition_loading {
    0% {
        height: 0;
        opacity: 1
    }

    50% {
        height: 100%;
        opacity: 1
    }

    to {
        height: 100%;
        opacity: 0
    }
}

.transition_wrapper__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 998;
    color: #fafafa;
    background-color: #0f0f0f;
    transform: translateY(110%);
    transition: none
}

.transition_wrapper__loading.transition_loading {
    transition: transform .8s cubic-bezier(.24, .36, 0, 1);
    transform: translateY(0)
}

.transition_wrapper__loading.transition_loaded {
    transform: translateY(-110%)
}

.transition_logo {
    position: absolute;
    margin: auto
}

.transition_logo--back {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #3c3c3c;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--mask {
    overflow: hidden;
    height: 0;
    transform-origin: 50% 100%
}

.transition_logo--text {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #ccc4b9;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--text,
.transition_logo--mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.transition_loading .transition_logo--mask {
    animation: transition_loading 4s linear .8s infinite
}

@media screen and (max-width: 480px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 5vw;
        font-size: 5vw
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 769px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 1281px) {

    .transition_logo--back,
    .transition_logo--text {
        height: 1.5vw;
        font-size: 1.5vw
    }
}

.Cookies_banner__fdun8 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 997;
    color: #f0f0f0;
    background: #0f0f0f;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    padding: 8px 10px 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 20px
}

.Cookies_text__9X85o {
    padding-bottom: 2px
}

.Cookies_buttons__p_Grl {
    display: flex;
    gap: 10px
}

.Cookies_link__UjlDm:after {
    background-color: #f0f0f0 !important
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY {
    color: #a4a4a4
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY:after {
    background-color: #a4a4a4 !important
}

@media screen and (max-width: 480px) {
    .Cookies_banner__fdun8 {
        padding: 2px 20px 0
    }

    .Cookies_text__9X85o {
        display: flex;
        align-items: center
    }

    .Cookies_link__UjlDm {
        height: 40px;
        text-decoration: underline;
        text-underline-offset: 3px
    }
}


.global_cases--container {
    position: relative;
    z-index: 2
}

.work_title--number {
    overflow: hidden
}

.Global_hidden__dPWsA {
    display: none
}

.global_pagename {
    position: relative
}

.Global_desktop__PxvuW {
    display: initial
}

.Global_mobile__Gt8iA {
    display: none
}

.global_link {
    position: relative;
    padding-bottom: 2px;
    text-transform: uppercase
}

.global_link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    background-color: #2a2a2a
}

.global_link.Global_active__0rvE4:after,
.global_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.Global_linkRedraw__GxzsY {
    position: relative;
    transition: transform .3s
}

.Global_linkRedraw__GxzsY:after,
.Global_linkRedraw__GxzsY:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    border-bottom: 1px solid
}

.Global_linkRedraw__GxzsY:after {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center 0
}

.Global_linkRedraw__GxzsY:hover:before {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s ease-in-out .3s, transform .3s ease-in-out 0s
}

.Global_linkRedraw__GxzsY:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease-in-out .3s
}

.global_link--work {
    padding-bottom: .4vw
}

.global_link--work:after {
    height: 2px
}

.global_grey--bg {
    background-color: #f0f0f0;
    color: #2a2a2a
}

.global_green--bg {
    background-color: #bcbcb4;
    color: #2a2a2a
}

.global_dark--bg {
    background-color: #0f0f0f;
    color: #ccc4b9
}

.global_dark--bg .global_link:after {
    background-color: #ccc4b9
}

.global_transparent__bg {
    color: #fafafa
}

.global_transparent__bg .global_link:after {
    background-color: #fafafa
}

@media screen and (max-width: 480px) {

    .Global_desktop__PxvuW {
        display: none
    }

    .Global_mobile__Gt8iA {
        display: initial
    }

    .Global_grid__035aN {
        gap: 4vw;
        padding: 0 4vw
    }

    .global_link:after {
        display: none
    }
}

.Grid_grid__JtSOM {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    z-index: 999999999
}

.Grid_grid__JtSOM div {
    width: 100%;
    background: rgba(0, 0, 0, .1)
}

.Grid_grid__JtSOM.Grid_light__38CuD div {
    background: hsla(0, 0%, 100%, .1)
}

@media screen and (max-width: 480px) {
    .Grid_grid__JtSOM {
        gap: 4vw;
        padding: 0 4vw
    }
}