.CaseStudy_intro___YvaS {
    margin-top: 55px;
    margin-bottom: 4vw;
    padding-top: 6vw
}

.CaseStudy_introGrid__pIlaK {
    display: grid;
    margin-top: 2vw;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.CaseStudy_numWrap__diImz {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: Area;
    align-self: start;
    justify-self: stretch
}

.CaseStudy_dashWrap__WSxk1 {
    overflow: hidden;
    width: 8vw;
    height: 1px
}

.CaseStudy_dashInner__e3nIJ {
    width: 0;
    height: 100%;
    background-color: #ccc4b9;
    transform-origin: 0 50%
}

.CaseStudy_numTotWrap__N9k2t {
    overflow: hidden;
    grid-area: Area-2;
    align-self: start;
    justify-self: start
}

.CaseStudy_tagsWrap__ZkvRv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: Area-3;
    justify-self: start;
    align-self: start
}

.CaseStudy_tagWrap__yR1jw {
    overflow: hidden
}

.CaseStudy_yearWrap__iCmba {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    grid-area: Area-4;
    justify-self: end;
    align-self: start
}

.CaseStudy_imgSection___Fioq {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.CaseStudy_imgWrap__kkFX2 {
    overflow: hidden;
    height: 45vw;
    display: flex;
    align-items: flex-end
}

.CaseStudy_img__xBbmp {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center
}

.CaseStudy_img__xBbmp img {
    object-fit: cover;
    height: 100%
}

.CaseStudy_relatedSection__B1nyb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    margin-top: 4vw;
    padding-bottom: 2vw
}

.CaseStudy_caseStudies__R0rM9 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

@media screen and (max-width: 480px) {
    .CaseStudy_intro___YvaS {
        margin-bottom:8vw;
        padding-top: 24vw
    }

    .CaseStudy_introGrid__pIlaK {
        margin-top: 4vw;
        grid-template-areas: "Area Area Area Area-2" "Area-3 Area-3 Area-3 Area-3";
        column-gap: 4vw
    }

    .CaseStudy_dashWrap__WSxk1 {
        width: 22.5vw
    }

    .CaseStudy_numTotWrap__N9k2t {
        align-self: end;
        justify-self: end
    }

    .CaseStudy_tagsWrap__ZkvRv {
        margin-top: 8vw
    }

    .CaseStudy_yearWrap__iCmba {
        display: none
    }

    .CaseStudy_imgWrap__kkFX2 {
        height: 100vw
    }

    .CaseStudy_imgWrap__kkFX2 div,.CaseStudy_img__xBbmp {
        height: 100%
    }

    .CaseStudy_scopeSection__FPqUD {
        margin-top: 12vw
    }

    .CaseStudy_scopeGrid__oAbbq {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseStudy_scopeInnerGrid__LyCAN {
        margin-bottom: 8vw;
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseStudy_pillar__y0ilY {
        gap: 4vw
    }

    .CaseStudy_relatedSection__B1nyb {
        gap: 8vw;
        margin-top: 16vw
    }

    .CaseStudy_caseStudies__R0rM9 {
        grid-template-columns: 1fr;
        row-gap: 10vw
    }
}
.Overview_section__MkB6o {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.Overview_grid__2pjmK {
    display: grid;
    grid-template-areas: "Area Area Area Area Area Area Area Area" "Area-2 Area-2 Area-2 . Area-3 Area-3 Area-3 .";
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 8vw;
    row-gap: 8vw
}

.Overview_heading__R__Gb {
    grid-area: Area
}

.Overview_recognitions__z3Ha_ {
    grid-area: Area-2
}

.Overview_recognitionHeading__mXdCZ {
    display: flex;
    margin-bottom: 2vw
}

.Overview_count__HBrVZ {
    margin-top: .05vw;
    margin-left: .1vw;
    font-size: 12px
}

.Overview_list__p1sxs {
    margin-bottom: 2vw
}

.Overview_list__p1sxs a {
    margin-bottom: .1vw
}

.Overview_blocks___612h {
    grid-area: Area-3
}

.Overview_block__MTsil {
    margin-bottom: 4vw
}

.Overview_block__MTsil:last-child {
    margin-bottom: 0
}

.Overview_blockHeading__ZuyR3 {
    margin-bottom: 2vw
}

@media screen and (max-width: 480px) {
    .Overview_section__MkB6o {
        margin-top:16vw;
        margin-bottom: 16vw
    }

    .Overview_grid__2pjmK {
        grid-template-areas: "Area" "Area-2" "Area-3";
        grid-template-columns: 1fr;
        row-gap: 16vw
    }

    .Overview_recognitionHeading__mXdCZ {
        margin-bottom: 4vw
    }

    .Overview_count__HBrVZ {
        margin-top: .5vw;
        margin-left: 1vw
    }

    .Overview_list__p1sxs {
        margin-bottom: 8vw
    }

    .Overview_list__p1sxs a {
        margin-bottom: .5vw
    }

    .Overview_block__MTsil {
        margin-bottom: 8vw
    }

    .Overview_blockHeading__ZuyR3 {
        margin-bottom: 4vw
    }
}

@media screen and (min-width: 1921px) {
    .Overview_count__HBrVZ {
        margin-top:.07vw;
        margin-left: .2vw;
        font-size: .8vw
    }
}
@keyframes FullVideo_video-load__We6zh {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.FullVideo_section__UcE1d {
    margin-top: 2vw;
    margin-bottom: 2vw;
    object-fit: cover;
    overflow: hidden
}

.FullVideo_inner__Pwqah,.FullVideo_section__UcE1d {
    display: flex;
    justify-content: center;
    align-items: center
}

.FullVideo_inner__Pwqah {
    position: relative;
    width: 100vw;
    background-color: #161616
}

.FullVideo_loader__YPscb {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.FullVideo_progressWrap__eNcJf {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.FullVideo_progress__JDsfZ {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: FullVideo_video-load__We6zh 2s linear 0s infinite forwards
}

.FullVideo_video__Rt0jn {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 54vw;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover
}

.FullVideo_padding__Sb5J8 .FullVideo_inner__Pwqah {
    padding-top: 20vh;
    padding-bottom: 20vh
}

.FullVideo_padding__Sb5J8 .FullVideo_video__Rt0jn {
    width: 71.5vw;
    height: 40.21875vw
}

.FullVideo_wBgImg__fYRIf .FullVideo_video__Rt0jn {
    position: absolute;
    width: 71.5vw;
    height: 40.21875vw
}

@media screen and (max-width: 480px) {
    .FullVideo_section__UcE1d {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .FullVideo_padding__Sb5J8 .FullVideo_inner__Pwqah {
        padding-top: 8vw;
        padding-bottom: 8vw
    }

    .FullVideo_padding__Sb5J8 .FullVideo_video__Rt0jn,.FullVideo_wBgImg__fYRIf .FullVideo_video__Rt0jn {
        width: 80vw;
        height: 45vw
    }
}
.TextBreak_section___Qfm6 {
    margin-top: 8vw;
    margin-bottom: 8vw
}

@media screen and (max-width: 480px) {
    .TextBreak_section___Qfm6 {
        margin-top:12vw;
        margin-bottom: 12vw
    }
}
@keyframes TextPin_video-load__qXcvY {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.TextPin_section__KWiCd {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.TextPin_grid__RQCJw {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.TextPin_pin__P75ar {
    width: 34.75vw;
    position: -webkit-sticky;
    position: sticky;
    top: 80px
}

.TextPin_pinHeading__pVvY8 {
    margin-bottom: 2vw
}

.TextPin_list__BZCKU {
    display: flex;
    flex-direction: column;
    gap: 2vw
}

.TextPin_posterWrap__eS1Tp {
    width: 34.75vw
}

.TextPin_img__vc3fQ {
    width: 100%;
    object-fit: cover
}

.TextPin_video__sVhDk {
    position: relative;
    background-color: #161616
}

.TextPin_loader__GBRnK {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.TextPin_progressWrap__ApXJp {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.TextPin_progress__gqdBc {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: TextPin_video-load__qXcvY 2s linear 0s infinite forwards
}

.TextPin_container__zZo3i {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35.35vw
}

@media screen and (max-width: 480px) {
    .TextPin_section__KWiCd {
        margin-top:12vw;
        margin-bottom: 4vw
    }

    .TextPin_grid__RQCJw {
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .TextPin_pin__P75ar {
        width: 100%;
        position: relative;
        top: 0
    }

    .TextPin_pinHeading__pVvY8 {
        margin-bottom: 4vw
    }

    .TextPin_list__BZCKU {
        gap: 4vw
    }

    .TextPin_posterWrap__eS1Tp {
        width: 100%
    }

    .TextPin_container__zZo3i {
        height: 69vw
    }
}
.SectionHeading_section__Kb97j {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.SectionHeading_grid__QqOi3 {
    display: grid;
    grid-template-areas: "Area Area Area . Area-2 Area-2 Area-2";
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.SectionHeading_grid__QqOi3 div:first-of-type {
    grid-area: Area
}

.SectionHeading_grid__QqOi3 div:nth-of-type(2) {
    grid-area: Area-2
}

@media screen and (max-width: 480px) {
    .SectionHeading_section__Kb97j {
        margin-top:12vw;
        margin-bottom: 12vw
    }

    .SectionHeading_grid__QqOi3 {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 4vw
    }
}
.ParallaxImage_section__SooEb {
    position: relative
}

.ParallaxImage_imgWrap__GtZo8 {
    overflow: hidden;
    width: 100%
}

.ParallaxImage_img__uAYwF {
    object-fit: cover
}

.ParallaxImage_caption__Yxq3b {
    margin-top: 1vw
}
@keyframes ImgVidGrid_video-load__ymrD7 {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.ImgVidGrid_section__J0Zkf {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.ImgVidGrid_grid__ogqWt {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.ImgVidGrid_img__TE9mD {
    width: 100%;
    object-fit: cover
}

.ImgVidGrid_caption__iUTwf {
    margin-top: 1vw
}

.ImgVidGrid_video__VCKy_ {
    position: relative;
    background-color: #161616
}

.ImgVidGrid_loader__AUxpx {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.ImgVidGrid_progressWrap__Y5LxG {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.ImgVidGrid_progress___QF8a {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: ImgVidGrid_video-load__ymrD7 2s linear 0s infinite forwards
}

.ImgVidGrid_container__P4qR3 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35.35vw
}

@media screen and (max-width: 480px) {
    .ImgVidGrid_section__J0Zkf {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .ImgVidGrid_section__J0Zkf.ImgVidGrid_interview__2qVG2 {
        margin-top: 12vw;
        margin-bottom: 12vw
    }

    .ImgVidGrid_grid__ogqWt {
        grid-template-columns: 1fr;
        row-gap: 4vw
    }

    .ImgVidGrid_caption__iUTwf {
        margin-top: 3vw
    }

    .ImgVidGrid_container__P4qR3 {
        height: 69vw
    }
}
/* .gallery_box {
    position: relative;
    width: 100vw
}

.gallery_container {
    overflow: hidden
}

.gallery_container.draggable {
    cursor: -webkit-grab;
    cursor: grab
}

.gallery_container.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.gallery_container.wheelDragging {
    cursor: -webkit-grab;
    cursor: grab
}

.swiper-wrapper {
    display: flex;
    will-change: transform
}

.gallery_box[data-desktop-axis=y] .swiper-wrapper {
    flex-direction: column
}

.gallery_box[data-desktop-axis=x] .swiper-wrapper {
    flex-direction: row
}

.gallery_item {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden
} */

.slider_arrows__l9BS9 {
    justify-content: space-between;
    z-index: 100
}

.slider_arrows__l9BS9.slider_mobile___3Y4z {
    display: none
}

.slider_arrows__l9BS9 button[disabled] {
    opacity: .2
}

@media(max-width: 767px) {
    .slider_arrows__l9BS9.slider_mobile___3Y4z {
        display:flex
    }

    /* .gallery_box[data-mobile-axis=y] .swiper-wrapper {
        flex-direction: column
    }

    .gallery_box[data-mobile-axis=x] .swiper-wrapper {
        flex-direction: row
    } */
}

.FullSlider_section__ciNNC {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.FullSlider_slider__74lUX {
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-color: #161616
}

.FullSlider_sliderSlide__zED1a {
    width: 72vw!important;
    margin-right: 2vw
}

@media screen and (max-width: 480px) {
    .FullSlider_section__ciNNC {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .FullSlider_slider__74lUX {
        padding-top: 12vw;
        padding-bottom: 12vw
    }

    .FullSlider_sliderSlide__zED1a {
        width: 82vw!important;
        margin-right: 4vw
    }
}
.FullImage_section__0WzUy {
    position: relative;
    margin-top: 2vw;
    margin-bottom: 2vw
}

.FullImage_imgWrap__J8NBt {
    width: 100%
}

.FullImage_img__8nvXe {
    object-fit: cover
}

.FullImage_caption__tKLuk {
    margin-top: 1vw
}

@media screen and (max-width: 480px) {
    .FullImage_section__0WzUy {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .FullImage_caption__tKLuk {
        margin-top: 3vw
    }
}
.CaseServiceLists_scopeSection__YnjnZ {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.CaseServiceLists_scopeSection__YnjnZ ul {
    gap: .2vw
}

.CaseServiceLists_scopeGrid__OFmp8 {
    display: grid;
    grid-template-areas: "Area Area-2";
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.CaseServiceLists_scopeInner__yddvx {
    grid-area: Area-2
}

.CaseServiceLists_scopeInnerGrid__NNXVR {
    margin-bottom: 4vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 4vw;
    row-gap: 4vw
}

.CaseServiceLists_pillar__0Gdja {
    display: flex;
    flex-direction: column;
    gap: 1vw
}

@media screen and (max-width: 480px) {
    .CaseServiceLists_scopeSection__YnjnZ {
        margin-top:12vw
    }

    .CaseServiceLists_scopeGrid__OFmp8 {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseServiceLists_scopeInnerGrid__NNXVR {
        margin-bottom: 8vw;
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseServiceLists_pillar__0Gdja {
        gap: 4vw
    }
}
.animation_moveUp {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveUp_desk--label {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp_desk--label {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.Animation_moveDown__hzkjH {
    transform: translateY(-120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .Animation_moveDown__hzkjH {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fadeRotate {
    opacity: 0;
    transform: scale(1.3) rotate(8deg);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeRotate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: var(--delay)
}

.animation_fadeUp__des {
    opacity: 0;
    transform: translateY(80%);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeUp__des {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--delay)
}

.Animation_fillWidth__a_5um {
    width: 0;
    transition: width 1s cubic-bezier(.3,.3,0,1)
}

.animation_ready .Animation_fillWidth__a_5um {
    width: 100%;
    transition-delay: var(--delay)
}

.Animation_fillHeight__1omqo {
    height: 0%;
    transition: height 6s cubic-bezier(.3,.3,0,1)
}

.animation_ready .Animation_fillHeight__1omqo {
    height: 100%;
    transition-delay: var(--delay)
}

.Animation_moveUpImg__Y17vs {
    transform: translateY(120%);
    transition: transform 2.4s cubic-bezier(.4,.4,.1,1)
}

.animation_ready .Animation_moveUpImg__Y17vs {
    transform: translateY(0);
    transition-delay: var(--delay)
}

@media screen and (max-width: 480px) {
    .animation_moveUp_desk--label {
        transform:translateY(0);
        transition: none
    }

    .animation_moveUp_mobi--label {
        transform: translateY(120%);
        transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
    }

    .animation_ready .animation_moveUp_mobi--label {
        transform: translateY(0);
        transition-delay: var(--delay)
    }
}

@keyframes transition_loading {
    0% {
        height: 0;
        opacity: 1
    }

    50% {
        height: 100%;
        opacity: 1
    }

    to {
        height: 100%;
        opacity: 0
    }
}

.transition_wrapper__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 998;
    color: #fafafa;
    background-color: #0f0f0f;
    transform: translateY(110%);
    transition: none
}

.transition_wrapper__loading.transition_loading {
    transition: transform .8s cubic-bezier(.24,.36,0,1);
    transform: translateY(0)
}

.transition_wrapper__loading.transition_loaded {
    transform: translateY(-110%)
}

.transition_logo {
    position: absolute;
    margin: auto
}

.transition_logo--back {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #3c3c3c;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--mask {
    overflow: hidden;
    height: 0;
    transform-origin: 50% 100%
}

.transition_logo--text {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #ccc4b9;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--text,.transition_logo--mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.transition_loading .transition_logo--mask {
    animation: transition_loading 4s linear .8s infinite
}

@media screen and (max-width: 480px) {
    .transition_logo--back,.transition_logo--text {
        height:5vw;
        font-size: 5vw
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 769px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 1281px) {
    .transition_logo--back,.transition_logo--text {
        height:1.5vw;
        font-size: 1.5vw
    }
}

.Cookies_banner__fdun8 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 997;
    color: #f0f0f0;
    background: #0f0f0f;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    padding: 8px 10px 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 20px
}

.Cookies_text__9X85o {
    padding-bottom: 2px
}

.Cookies_buttons__p_Grl {
    display: flex;
    gap: 10px
}

.Cookies_link__UjlDm:after {
    background-color: #f0f0f0!important
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY {
    color: #a4a4a4
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY:after {
    background-color: #a4a4a4!important
}

@media screen and (max-width: 480px) {
    .Cookies_banner__fdun8 {
        padding:2px 20px 0
    }

    .Cookies_text__9X85o {
        display: flex;
        align-items: center
    }

    .Cookies_link__UjlDm {
        height: 40px;
        text-decoration: underline;
        text-underline-offset: 3px
    }
}

/* .global_container {
    padding-bottom: 2vw
}

.Global_container404__oZ0O_,.Global_containerContact__S6LgU,.global_container {
    position: relative;
    padding-top: 55px;
    z-index: 2
} */

.Global_casesContainer__F5DNj {
    position: relative;
    z-index: 2
}

/* .global_margin {
    margin: 0 2vw
} */

.Global_overflow__XL3V_ {
    overflow: hidden
}

.Global_hidden__dPWsA {
    display: none
}

.global_pagename {
    position: relative
}

.Global_desktop__PxvuW {
    display: initial
}

.Global_mobile__Gt8iA {
    display: none
}

.global_link {
    position: relative;
    padding-bottom: 2px;
    text-transform: uppercase
}

.global_link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    background-color: #2a2a2a
}

.global_link.Global_active__0rvE4:after,.global_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.Global_linkRedraw__GxzsY {
    position: relative;
    transition: transform .3s
}

.Global_linkRedraw__GxzsY:after,.Global_linkRedraw__GxzsY:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    border-bottom: 1px solid
}

.Global_linkRedraw__GxzsY:after {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center 0
}

.Global_linkRedraw__GxzsY:hover:before {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s ease-in-out .3s,transform .3s ease-in-out 0s
}

.Global_linkRedraw__GxzsY:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease-in-out .3s
}

.global_link--work {
    padding-bottom: .4vw
}

.global_link--work:after {
    height: 2px
}

.global_grey--bg {
    background-color: #f0f0f0;
    color: #2a2a2a
}

.global_green--bg {
    background-color: #bcbcb4;
    color: #2a2a2a
}

.global_dark--bg {
    background-color: #0f0f0f;
    color: #ccc4b9
}

.global_dark--bg .global_link:after {
    background-color: #ccc4b9
}

.global_transparent__bg {
    color: #fafafa
}

.global_transparent__bg .global_link:after {
    background-color: #fafafa
}

@media screen and (max-width: 480px) {
    /* .global_container {
        padding-bottom:4vw
    }

    .global_margin {
        margin: 0 4vw
    } */

    .Global_desktop__PxvuW {
        display: none
    }

    .Global_mobile__Gt8iA {
        display: initial
    }

    .Global_grid__035aN {
        gap: 4vw;
        padding: 0 4vw
    }

    .global_link:after {
        display: none
    }
}

.Grid_grid__JtSOM {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    z-index: 999999999
}

.Grid_grid__JtSOM div {
    width: 100%;
    background: rgba(0,0,0,.1)
}

.Grid_grid__JtSOM.Grid_light__38CuD div {
    background: hsla(0,0%,100%,.1)
}

@media screen and (max-width: 480px) {
    .Grid_grid__JtSOM {
        gap:4vw;
        padding: 0 4vw
    }
}
/* 
.header {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    height: 56px;
    padding: 0 2vw;
    z-index: 5;
    color: #2a2a2a;
    transition: transform 1s cubic-bezier(.215,.61,.355,1)
}

.header.nav_hide {
    transform: translateY(-56px)
}

.header a:after {
    background-color: #2a2a2a!important
}

.nav_white--color {
    color: #fafafa
}

.nav_white--color a:after {
    background-color: #fafafa!important
}

.nav_cream--color {
    color: #ccc4b9
}

.nav_cream--color a:after {
    background-color: #ccc4b9!important
}

.header_box {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.header_logo {
    grid-area: Area;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 5
}

.header_logo--link {
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -.03em;
    margin-left: -.03em;
    padding-bottom: 2px
}

.nav_page--title {
    display: flex;
    overflow: hidden
}

.nav_dash--line {
    overflow: hidden;
    margin-right: 4px;
    margin-left: 4px;
    width: 0
}

.nav_page--name {
    white-space: nowrap;
    transform: translateY(120%)
}

.header_nav {
    justify-content: flex-end;
    grid-area: Area-4;
    justify-self: end
}

.nav_menuBtn,.header_nav {
    height: 100%;
    display: flex;
    align-items: center
}

.nav_menuBtn {
    justify-content: center;
    margin-right: -2vw
}

.nav_menuBtn--box {
    position: relative;
    overflow: hidden;
    margin-right: 2vw;
    margin-left: 2vw
}

.nav_menuBtn--label {
    transform: translateY(120%)
}

.header_nav--box {
    position: absolute
}

.header_nav--links {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden
}

.nav_bg--sp {
    display: none
}

.header_nav--link {
    position: relative;
    overflow: hidden;
    margin-left: 16px
}

.header_nav--text {
    transform: translateY(0)
}

.header_nav--link__active:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

@media screen and (max-width: 480px) {
    .header {
        padding:0 4vw
    }

    .nav_white--color .header_nav--links,.nav_white--color .header_nav--tagline {
        color: #2a2a2a!important
    }

    .nav_white--color .header_nav--links a:after,.nav_white--color .header_nav--tagline a:after {
        background-color: #2a2a2a!important
    }

    .nav_cream--color .header_nav--links,.nav_cream--color .header_nav--tagline,.Nav_open__hnogZ .header_logo {
        color: #2a2a2a!important
    }

    .nav_cream--color .header_nav--links a:after,.nav_cream--color .header_nav--tagline a:after,.Nav_open__hnogZ .header_logo a:after {
        background-color: #2a2a2a!important
    }

    .nav_menuBtn--box {
        height: 14px
    }

    .nav_menuBtn--close,.nav_menuBtn--label {
        transform: translateY(-100%)
    }

    .header_nav--box {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        padding-right: 4vw;
        padding-left: 4vw;
        flex-direction: column;
        justify-content: center;
        pointer-events: none
    }

    .header_nav--links {
        width: 100%;
        align-items: stretch;
        flex-direction: column
    }

    .nav_bg--sp {
        display: block
    }

    .nav_bg--pc {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #65756b
    }

    .nav_bg--pc,.header_nav--tagline {
        position: absolute;
        transform: translateY(-100%)
    }

    .header_nav--tagline {
        left: 4vw;
        bottom: 8vw;
        opacity: 0
    }

    .header_nav--link {
        margin-left: 0
    }

    .header_nav--link.nav_bg--sp {
        display: flex
    }

    .header_nav--text {
        position: relative;
        height: 13vw;
        display: flex;
        font-size: 13vw!important;
        text-decoration: none;
        transform: translateY(-120%)
    }

    .header_nav--count__box,.header_nav--label {
        display: flex;
        overflow: hidden;
        align-items: flex-start
    }

    .header_nav--count {
        padding: 1.8vw 0 1vw 1.8vw
    }

    .header_nav--link__active {
        color: #ccc4b9
    }

    .nav_menuBtn {
        z-index: 4
    }
}

@media screen and (min-width: 1281px) {
    .header_logo--link {
        font-size:1.2vw
    }

    .header_nav--box {
        width: 47vw
    }

    .header_nav--links {
        justify-content: space-between
    }

    .header_nav--link {
        margin-left: 0
    }
}

@media screen and (min-width: 1441px) {
    .header_logo--link {
        font-size:1.1vw
    }
}

@media screen and (min-width: 1921px) {
    .header_logo--link {
        font-size:.8vw
    }
} */

.text_l--size,.Text_ML__9porR,.Text_M__tK_lp,.text_s--size,.text_xl--size,.text_xs--size,.text_xxs__co--size {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -.03em;
    margin-left: -.03em
}

.text_xs--size,.text_xxs__co--size {
    letter-spacing: -.02em;
    margin-left: -.02em
}

.text_xxs__co--size {
    font-size: 12px
}

.text_xs--size {
    font-size: 14px
}

.text_s--size {
    font-size: 1.48vw;
    line-height: .9
}

.text_s--size .Text_italic__TVafc,.text_s--size.Text_italic__TVafc {
    font-size: 1.48vw;
    line-height: 1
}

.Text_M__tK_lp {
    font-size: 2.78vw
}

.Text_M__tK_lp .Text_italic__TVafc {
    font-size: 2.18vw
}

.Text_ML__9porR {
    font-size: 3.8vw;
    line-height: .85
}

.text_l--size {
    font-size: 4.8vw;
    line-height: .8
}

.text_xl--size {
    font-size: 7vw;
    line-height: .8
}

.text_xl--size .Text_italic__TVafc {
    font-size: 5.44vw
}

.text_normal {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300
}

.text_normal.Text_regular__M24Vo {
    font-weight: 600
}

.text_normal p {
    margin-bottom: 8px
}

.text_normal p:last-of-type {
    margin-bottom: 0
}

.Text_italic__TVafc {
    font-family: Editorial Neue,serif;
    font-style: italic;
    padding-right: .18em;
    letter-spacing: -.06em
}

@media screen and (max-width: 480px) {
    .text_s--size {
        font-size:4.4vw;
        line-height: 1
    }

    .text_s--size .Text_italic__TVafc,.text_s--size.Text_italic__TVafc {
        font-size: 18px;
        line-height: 1.4
    }

    .Text_M__tK_lp {
        font-size: 6.9vw;
        line-height: 1.1
    }

    .Text_M__tK_lp .Text_italic__TVafc {
        font-size: 5.3vw
    }

    .Text_ML__9porR {
        font-size: 8.1vw;
        line-height: .85
    }

    .text_l--size {
        font-size: 9.5vw
    }

    .text_xl--size {
        font-size: 11vw;
        line-height: .9
    }

    .text_xl--size .Text_italic__TVafc {
        font-size: 8.6vw
    }

    .text_normal {
        font-size: 16px
    }

    .text_normal p {
        margin-bottom: 2.8vw
    }

    .text_normal p:last-of-type {
        margin-bottom: 0
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .text_s--size {
        font-size:3.4vw
    }

    .text_s--size .Text_italic__TVafc,.text_s--size.Text_italic__TVafc {
        font-size: 18px;
        line-height: 1.2
    }

    .Text_M__tK_lp {
        font-size: 4vw
    }

    .Text_M__tK_lp .Text_italic__TVafc {
        font-size: 3.2vw
    }

    .text_l--size {
        font-size: 6vw
    }

    .text_normal {
        font-size: 14px
    }

    .text_normal p {
        margin-bottom: 8px
    }

    .text_normal p:last-of-type {
        margin-bottom: 0
    }
}

@media screen and (min-width: 769px) {
    .text_s--size {
        font-size:2.2vw
    }

    .text_s--size .Text_italic__TVafc,.text_s--size.Text_italic__TVafc {
        font-size: 16px;
        line-height: 1.4
    }

    .Text_M__tK_lp {
        font-size: 4vw
    }

    .Text_M__tK_lp .Text_italic__TVafc {
        font-size: 3.1vw
    }

    .text_l--size {
        font-size: 6vw
    }

    .text_normal {
        font-size: 14px
    }

    .text_normal p {
        margin-bottom: 8px
    }

    .text_normal p:last-of-type {
        margin-bottom: 0
    }
}

@media screen and (min-width: 1281px) {
    .text_xxs__co--size {
        font-size:12px
    }

    .text_xs--size {
        font-size: 14px
    }

    .text_s--size {
        font-size: 1.5vw
    }

    .text_s--size .Text_italic__TVafc,.text_s--size.Text_italic__TVafc {
        font-size: 1.5vw;
        line-height: .9
    }

    .Text_M__tK_lp {
        font-size: 2.8vw
    }

    .Text_M__tK_lp .Text_italic__TVafc {
        font-size: 2.18vw
    }

    .text_l--size {
        font-size: 4.86vw
    }

    .text_normal {
        font-size: 1.111111vw
    }

    .text_normal p {
        margin-bottom: .72vw
    }

    .text_normal p:last-of-type {
        margin-bottom: 0
    }
}

@media screen and (min-width: 1441px) {
    .text_xxs__co--size {
        font-size:.9vw
    }

    .text_xs--size {
        font-size: 1vw
    }

    .text_s--size {
        font-size: 1.5vw
    }

    .Text_M__tK_lp {
        font-size: 2.78vw
    }
}

@media screen and (min-width: 1921px) {
    .text_xxs__co--size {
        font-size:.6vw
    }

    .text_xs--size {
        font-size: .7vw
    }

    .text_s--size {
        font-size: 1.4vw
    }

    .text_normal {
        font-size: .9vw
    }

    .text_normal p {
        margin-bottom: .54vw
    }

    .text_normal p:last-of-type {
        margin-bottom: 0
    }
}
/* 
.button_container {
    display: inline-block;
    line-height: 14px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.button_inner {
    position: relative
}

.button_mask {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 12px;
    border-radius: 999px
}

.button_post--bot {
    display: flex;
    padding-left: 24px;
    background-color: #ccc4b9
}

.button_post--top {
    background-color: #2a2a2a;
    color: #f0f0f0
}

.button_hidden {
    position: relative;
    visibility: hidden;
    padding-left: 24px
}

.button_text--size {
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    text-transform: uppercase
}

.button_dark .button_post--bot {
    background-color: #2a2a2a;
    color: #ccc4b9
}

.button_dark .button_post--top {
    background-color: #ccc4b9;
    color: #2a2a2a
}

@media screen and (max-width: 480px) {
    .button_mask {
        position:relative;
        padding: 8px 16px
    }

    .button_post--bot,.button_hidden {
        display: none
    }
}

@media screen and (min-width: 1921px) {
    .button_mask {
        padding:8px 16px
    }

    .button_post--bot,.button_hidden {
        padding-left: 28px
    }

    .button_text--size {
        font-size: 14px;
        line-height: 14px
    }
}

.footer_content {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #2a2a2a;
    background-color: #fafafa
}

.footer_box {
    position: relative;
    height: 100%
}

.footer_nav {
    width: 100%;
    height: 56px
}

.footer_nav--box {
    display: grid;
    height: 100%;
    align-items: center;
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw;
    grid-template-areas: "Area . Area-2 Area-2";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto
}

.footer_logo {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    text-decoration: none;
    text-transform: none
}

.footer_nav--items {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    grid-area: Area-2
}

.footer_body {
    height: calc(100vh - 4vw);
    justify-content: center
}

.footer_body,.footer_work {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.footer_work {
    grid-area: Area;
    justify-self: start;
    gap: .5vw;
    margin-bottom: 8vw
}

.footer_next__flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

.footer_count {
    margin-top: .45vw;
    margin-left: .6vw
}

.footer_contact {
    grid-area: Area-2
}

.footer_contact--heading {
    margin-bottom: 2vw
}

.footer_company {
    grid-area: Area-3
}

.footer_address {
    grid-area: Area-4
}

.footer_address,.footer_company {
    display: flex;
    align-items: flex-start;
    gap: 2vw
}

.footer_list--title {
    margin-bottom: .5vw!important;
    color: #757575
}

.footer_list {
    width: 22.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.footer_list li {
    align-items: flex-start
}

.footer_line {
    margin-bottom: .2vw
}

.footer_meta {
    position: absolute;
    bottom: 0;
    height: 4vw;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-areas: "Area Area . . Area-2 Area-2 Area-2 Area-3";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw;
    border-top: 1px solid #ccc;
    white-space: nowrap
}

.footer_copyright {
    grid-area: Area
}

.footer_meta--links {
    display: flex;
    gap: 2vw;
    grid-area: Area-2
}

.footer_meta--size {
    display: flex;
    width: 10.25vw
}

.footer_totop {
    grid-area: Area-3;
    justify-self: flex-end
}

@media screen and (max-width: 480px) {
    .footer_content,.footer_wrap__auto {
        height:auto
    }

    .footer_nav {
        display: none
    }

    .footer_body {
        height: auto
    }

    .footer_body--box {
        display: grid;
        padding-top: 18vw;
        margin-bottom: 20vw;
        grid-template-areas: "Area" "Area-2" "Area-3" "Area-4";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 4vw;
        column-gap: 4vw;
        grid-row-gap: 8vw;
        row-gap: 8vw
    }

    .footer_work {
        gap: 2vw
    }

    .footer_contact {
        margin-bottom: 4vw
    }

    .footer_contact--heading {
        margin-bottom: 4vw;
        width: 76%
    }

    .footer_address,.footer_company {
        flex-direction: column;
        gap: 8vw
    }

    .footer_list {
        width: 100%
    }

    .footer_meta {
        position: relative;
        height: auto;
        bottom: auto;
        padding-top: 4vw;
        padding-bottom: 8vw;
        grid-template-areas: "Area Area Area Area" "Area-2 Area-2 Area-3 Area-3";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 4vw
    }

    .footer_copyright {
        grid-area: Area-2
    }

    .footer_list--title {
        margin-bottom: 2vw!important
    }

    .footer_meta--links {
        width: 100%;
        justify-content: space-between;
        grid-area: Area
    }

    .footer_meta--size {
        width: auto
    }

    .footer_totop {
        grid-area: Area-3
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .footer_nav--item {
        margin-left:16px;
        flex: 0 0 auto
    }

    .footer_body--box {
        display: grid;
        padding-top: 18vw;
        margin-bottom: 20vw;
        grid-template-areas: "Area" "Area-2" "Area-3" "Area-4";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 4vw;
        column-gap: 4vw;
        grid-row-gap: 8vw;
        row-gap: 8vw
    }

    .footer_contact {
        width: 50%
    }

    .footer_list {
        width: 100%
    }
}

@media screen and (min-width: 769px) {
    .footer_body--box {
        display:grid;
        grid-template-areas: "Area Area Area Area . . . ." "Area-2 Area-2 . . Area-3 Area-3 Area-3 Area-3" "Area-2 Area-2 . . Area-4 Area-4 Area-4 Area-4";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 2vw;
        column-gap: 2vw;
        grid-row-gap: 2vw;
        row-gap: 2vw;
        padding-bottom: 4vw
    }

    .footer_contact {
        width: 100%
    }
}

@media screen and (min-width: 1281px) {
    .footer_logo {
        font-size:1.2vw
    }

    .footer_nav--items {
        justify-content: space-between
    }
}

@media screen and (min-width: 1441px) {
    .footer_logo {
        font-size:1.1vw
    }
}

@media screen and (min-width: 1921px) {
    .footer_logo {
        font-size:.8vw
    }
} */
