.hero_studie_item {
    position: relative;
    width: 22.5vw
}

.hero_studie_inr {
    position: relative
}

.hero_studie_number {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-left: .2vw;
    transform: rotate(-90deg);
    transform-origin: 100% 0
}

.hero_studie_number--value {
    text-align: right
}

.hero_studie_img {
    overflow: hidden;
    transition: border-radius .5s cubic-bezier(.165,.84,.44,1)
}

.hero_studie_img--wrap {
    width: 100%;
    object-fit: cover
}

.hero_studie__line {
    width: 100%;
    height: 1px;
    margin-top: 1vw;
    background-color: #2a2a2a
}

.hero_studie_info {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: .5vw;
    padding-top: .8vw
}

.hero_studie_tags {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: hidden
}

.hero_studie_tag--item {
    overflow: hidden
}

.hero_studie_tag--detail {
    display: flex;
    align-items: center
}

.hero_studie_tag--space {
    margin: 0 4px
}

.hero_studie_tag--item:last-child .hero_studie_tag--space {
    display: none
}

.hero_studie_year {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden
}

.hero_studie_name {
    overflow: hidden
}

@media screen and (min-width: 1921px) {
    .hero_studie_number {
        margin-left:.2vw
    }
}

@media screen and (max-width: 1280px) {
    .hero_studie_item {
        width:100%
    }
}

@media screen and (max-width: 992px) {
    .hero_studie_number {
        display:none
    }
}

@media screen and (max-width: 480px) {
    .hero_studie__line {
        margin-top:4vw
    }

    .hero_studie_info {
        margin-bottom: 0;
        padding-top: 4vw;
        padding-bottom: 3.2vw
    }
}

@keyframes Hero_video-load__NlUop {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.hero_intro {
    padding: 6vw 0 4vw;
    display: grid;
    grid-template-areas: "Area Area Area Area Area Area Area Area" "Area-2 Area-2 . . Area-3 Area-3 Area-3 .";
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.hero_intro.hero_intro--customize {
    row-gap: 3vw
}

.hero_heading {
    position: relative;
    grid-area: Area
}

.hero_heading--customize {
    width: 86%
}

.hero_heading--sub {
    grid-area: Area-2;
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.hero_heading--sub>div {
    overflow: hidden
}

.hero_description {
    grid-area: Area-3
}

.hero_description h3 {
    width: 95%;
    margin-bottom: 1vw
}

.hero_banner {
    height: 45vw;
    overflow: hidden
}

.hero_banner div {
    height: 100%
}

.hero_studie {
    display: grid
}

.Hero_lrgVid__pW2ID {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center
}

.Hero_darkExpand__RxpSB {
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: auto;
    background-color: #0f0f0f
}

.Hero_inner__HVMay {
    position: relative;
    height: 100%;
    width: 80vw;
    padding: 6vw 0
}

.Hero_inner__HVMay,.Hero_loader__eWJ4u {
    display: flex;
    justify-content: center;
    align-items: center
}

.Hero_loader__eWJ4u {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1
}

.Hero_progressWrap__sCkMV {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.Hero_progress__zA5SN {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: Hero_video-load__NlUop 2s linear 0s infinite forwards
}

.Hero_expand__uxAy5 {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover
}

@media screen and (max-width: 480px) {
    .hero_intro {
        padding:24vw 0 16vw;
        grid-template-columns: 1fr;
        grid-template-areas: "Area" "Area-2" "Area-3";
        row-gap: 4vw
    }

    .hero_studie {
        grid-template-columns: 1fr;
        column-gap: 4vw;
        row-gap: 10vw
    }

    .hero_heading--customize {
        width: 100%
    }

    .hero_description {
        margin-top: 16vw
    }

    .hero_description h3 {
        width: 100%;
        margin-bottom: 2.8vw
    }

    .hero_banner {
        height: 140vw
    }

    .hero_banner img {
        height: 114%;
        object-fit: cover
    }

    .Hero_darkExpand__RxpSB {
        width: 100%
    }

    .Hero_inner__HVMay {
        width: 92vw;
        padding: 4vw 0
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .hero_intro {
        row-gap:4vw
    }

    .hero_studie {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2vw;
        row-gap: 2vw
    }
}

@media screen and (min-width: 1281px) {
    .hero_intro {
        row-gap:1vw
    }

    .hero_studie {
        grid-template-columns: repeat(4,1fr);
        column-gap: 2vw
    }
}
.modals_lightbox--wrap {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100% - 56px);
    opacity: 1;
    z-index: 998;
    transform: translateY(100%);
    transition: transform 1s cubic-bezier(.4,.4,.1,1);
    will-change: transform
}

.Modals_enter__fVGyh.modals_overlay--bg:before {
    opacity: 1
}

.Modals_enter__fVGyh .modals_lightbox--wrap {
    transform: translateY(0)
}

.Modals_enterActive__dL6BY.modals_overlay--bg:before {
    opacity: 1
}

.Modals_enterActive__dL6BY .modals_lightbox--wrap {
    transform: translateY(0)
}

.modals_enterDone.modals_overlay--bg:before {
    opacity: 1
}

.modals_enterDone .modals_lightbox--wrap {
    transform: translateY(0)
}

.modals_overlay--bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 100%
}

.modals_overlay--bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity 1s cubic-bezier(.25,1,.5,1)
}

.slider_arrows__l9BS9 {
    justify-content: space-between;
    z-index: 100
}

.slider_arrows__l9BS9.slider_mobile___3Y4z {
    display: none
}

.slider_arrows__l9BS9 button[disabled] {
    opacity: .2
}

@media(max-width: 767px) {
    .slider_arrows__l9BS9.slider_mobile___3Y4z {
        display:flex
    }
}

@keyframes LightboxInner_video-load__dO72Q {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}
/* 
.lightbox_content {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background: #0f0f0f;
    color: #f0f0f0
}

.lightbox_content .lightbox_slider {
    height: 100%
}

.slider_container--swiper {
    display: flex;
    will-change: transform;
}

.slider_item {
    position: relative;
    flex: 0 0 auto;
    height: 100%;
    overflow: hidden;
}

.lightbox_content .lightbox_slider--viewport {
    width: 100vw;
    height: 100%
}

.lightbox_content .lightbox--swiper {
    height: 100%
}

.lightbox_content .lightbox_slider--item {
    width: 48vw;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.lightbox_content .lightbox_media {
    width: 100%;
    height: 36vw;
    position: relative;
    background-color: #161616
}

.lightbox_bar {
    position: absolute;
    top: 2vw;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between
}

.lightbox_bar--number {
    width: 50%;
    display: flex;
    justify-content: flex-start
}

.lightbox_bar--number div:nth-child(2) {
    margin: 0 1vw
}

.lightbox_bar--number div:nth-child(3) {
    color: #949494
}

.lightbox_bar--title {
    width: 100%;
    display: flex;
    justify-content: center
}

.lightbox_bar--close {
    width: 50%;
    display: flex;
    justify-content: flex-end
}

.lightbox_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.lightbox_loader--wrap {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.lightbox_loader--progress {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: LightboxInner_video-load__dO72Q 2s linear 0s infinite forwards
}

.lightbox_video {
    position: relative;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s linear
}

.lightbox_media--show .lightbox_video {
    opacity: 1
}

@media screen and (max-width: 480px) {
    .lightbox_content .lightbox_slider--item {
        width:100%;
        height: auto;
        padding: 0 4vw;
        margin-right: 0;
        margin-bottom: 4vw
    }

    .lightbox_content .lightbox--swiper {
        flex-direction: column
    }

    .lightbox_content .lightbox_media {
        height: auto
    }

    .lightbox_bar {
        top: 0;
        background: #0f0f0f
    }

    .lightbox_bar--close,.lightbox_bar--title,.lightbox_bar--number {
        top: 0;
        height: 64px;
        display: flex;
        align-items: center
    }
} */

.workGrid_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 1vw 1vw 0
}

.workGrid_item [id] {
    position: absolute;
    top: -58px
}

.workGrid_item:last-child .workGrid_border,.workGrid_item:nth-last-child(2) .workGrid_border {
    display: none
}

.workGrid_media {
    position: relative;
    width: 100%;
    height: 34vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.workGrid_media:hover .workGrid_video {
    opacity: 1
}

.workGrid_img {
    width: 100%;
    height: 100%
}

.workGrid_img img,.workGrid_video {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.workGrid_video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .1s linear
}

.workGrid_video.WorkBlock_contained__aBOYf {
    width: 80%;
    height: auto;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto
}

.workGrid_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.2vw 0 3vw
}

.workGrid_info--text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.workGrid_tag {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: hidden
}

.workGrid_tag--item {
    cursor: pointer;
    overflow: hidden
}

.workGrid_tag--move {
    display: flex;
    align-items: center
}

.workGrid_tag--dash {
    margin: 0 4px
}

.workGrid_year {
    overflow: hidden;
    padding-bottom: 2px
}

.workBlock_name--wrap {
    overflow: hidden
}

.workBlock_name--heading {
    margin-top: .8vw
}

.workGrid_border {
    position: relative;
    display: flex;
    height: 1px
}

.workGrid_border.workGrid_border__right {
    justify-content: flex-end
}

.workGrid_border.workGrid_border__left {
    justify-content: flex-start
}

.workGrid_border__line {
    width: 0;
    height: 100%;
    background-color: #2a2a2a
}

.workGrid_border__line.workBlock_filled__bd {
    width: 100%
}

@media screen and (max-width: 480px) {
    .workGrid_item {
        padding:0
    }

    .workGrid_item:nth-last-child(2) .workGrid_border {
        display: flex
    }

    .workGrid_media {
        height: auto
    }

    .workGrid_info {
        margin: 4vw 0 12vw
    }

    .workBlock_name--heading {
        margin-top: 2.8vw
    }

    .workGrid_border.workGrid_border__left,.workGrid_border.workGrid_border__right {
        justify-content: center
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .workGrid_item:nth-last-child(2) .workGrid_border {
        display:flex
    }

    .workGrid_info {
        margin: 4vw 0 12vw
    }

    .workBlock_name--heading {
        margin-top: 2.8vw
    }
}

@keyframes Work_video-load__ekyf_ {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.work_header {
    padding-top: 1vw
}

.work_header--grid {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-areas: "Area . Area-2 Area-3";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: .4vw
}

.work_title {
    display: flex;
    margin-bottom: .9vw;
    align-items: flex-start;
    grid-area: Area
}

.work_title--text {
    margin-top: -.3vw
}

.work_num--value {
    margin-top: .3vw;
    margin-bottom: 0;
    margin-left: .8vw;
    color: #2a2a2a
}

.item__relative {
    position: relative
}

.work_switch--toggle {
    grid-area: Area-3;
    margin-bottom: .6vw;
    align-self: end;
    justify-self: end;
    overflow: hidden
}

.work_switch--wrap {
    --pVer: 8px;
    --pHoz: 18px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid #cecece;
    border-radius: 10vw
}

.work_switch--wrap .work_switch--but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--pVer) var(--pHoz);
    transition: color .2s cubic-bezier(.645,.045,.355,1)
}

.work_switch--wrap .work_switch--hover {
    pointer-events: none;
    position: absolute;
    height: calc(100% - var(--pVer));
    border-radius: 10vw;
    background-color: #0f0f0f;
    transition: transform .2s cubic-bezier(.645,.045,.355,1),width .2s cubic-bezier(.645,.045,.355,1)
}

.work_switch--wrap .work_switch--active {
    color: #f0f0f0
}

.work_filter {
    z-index: 99;
    overflow: hidden;
    margin-bottom: .6vw;
    grid-area: Area-2;
    align-self: end;
    display: flex;
    align-items: baseline;
    justify-content: flex-start
}

.work_activeFilter--box {
    display: flex;
    margin-left: .8vw
}

.work_filter--dropdown {
    position: absolute;
    overflow: hidden;
    z-index: 99;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    border-radius: 5px;
    background-color: #fafafa;
    transition: height 1s cubic-bezier(.25,1,.5,1)
}

.work_filter--label {
    text-align: left;
    padding: .8vw .9vw
}

.work_filter--label:hover {
    background: #bcbcb4
}

.work_borderH--wrap {
    position: relative;
    width: calc(100% - 4vw);
    height: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.work_borderH {
    width: 0;
    height: 100%;
    background: #2a2a2a
}

.work_view--wrap {
    position: relative;
    min-height: 100vh
}

@media screen and (max-width: 480px) {
    .work_header {
        padding-top:24vw
    }

    .work_header--grid {
        margin-bottom: 4vw
    }

    .work_title {
        margin-bottom: 0;
        padding-top: 1vw
    }

    .work_num--value {
        margin-top: .5vw;
        font-size: 5vw;
        line-height: 1
    }

    .work_filter {
        display: none
    }

    .work_borderH--wrap {
        width: calc(100% - 8vw)
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .work_num--value {
        font-size:2vw;
        line-height: .8
    }

    .work_filter {
        display: none
    }
}

@media screen and (min-width: 1281px) {
    .work_num--value {
        font-size:1.6vw;
        line-height: 1
    }
}

.overview {
    position: relative
}

.overview_block--work {
    padding: 0
}

.overview_box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    padding-top: calc(2vw + 158px);
    margin-top: -158px;
    border-bottom: 1px solid #949494
}

.overview_info {
    width: 34.75vw
}

.overview_heading {
    margin-bottom: 1vw
}

.overview_description {
    margin-bottom: 2vw
}

@media screen and (max-width: 480px) {
    .overview_box {
        grid-template-columns:1fr;
        padding-top: calc(12vw + 158px)
    }

    .overview_info {
        width: 100%;
        margin-bottom: 12vw
    }

    .overview_heading {
        margin-bottom: 4vw
    }

    .overview_description {
        margin-bottom: 8vw
    }
}
.client_brand--body {
    overflow: hidden;
    transition: height .6s cubic-bezier(.165,.84,.44,1),opacity .6s cubic-bezier(.165,.84,.44,1)
}

.acc_line {
    position: relative;
    overflow: hidden;
    height: 1px;
    width: 100%
}

.Accordion_work__IgFMS .acc_line {
    width: calc(100% - 4vw);
    margin: 0 2vw
}

.acc_line--lite {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #d6d6d6
}

.acc_line--dark {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    transform: translate(100%)
}

[aria-hidden=false]+.acc_line .acc_line--dark {
    transform: translate(0)!important
}

[aria-hidden=true].client_brand--body {
    opacity: 0
}

[aria-hidden=false].client_brand--body {
    opacity: 1
}

@media screen and (max-width: 480px) {
    .Accordion_work__IgFMS .acc_line {
        width:calc(100% - 8vw);
        margin: 0 4vw
    }
}

.servicesList_section {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.servicesList_section ul {
    gap: .2vw
}

.servicesList_grid {
    display: grid;
    grid-template-areas: "Area Area-2";
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.servicesList_heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 34.75vw
}

.servicesList_heading--description,.servicesList_heading--title {
    margin-bottom: 2vw
}

.servicesList_pillar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 4vw;
    row-gap: 4vw
}

.servicesList_pillar--item {
    display: flex;
    flex-direction: column;
    gap: 1vw
}

.services_accordion {
    display: none
}

@media screen and (max-width: 480px) {
    .servicesList_section {
        margin-top:20vw;
        margin-bottom: 20vw
    }

    .servicesList_section ul {
        gap: .5vw
    }

    .servicesList_grid {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 12vw
    }

    .servicesList_heading {
        width: 100%;
        align-items: flex-start
    }

    .servicesList_heading--title {
        margin-bottom: 4vw
    }

    .servicesList_heading--description {
        margin-bottom: 8vw
    }

    .servicesList_pillar {
        display: none
    }

    .services_accordion {
        display: block
    }

    .services_accordion--item button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 6vw 0
    }

    [aria-expanded=false] .ServicesList_less__olIvU,[aria-expanded=true] .ServicesList_more__COCKZ {
        display: none
    }

    [aria-expanded=true] .ServicesList_less__olIvU {
        display: block
    }

    .services_accordion--body {
        padding-bottom: 8vw
    }
}
.awards_section {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.awards_heading {
    display: flex;
    flex-direction: column;
    width: 34.75vw;
    margin-bottom: 6vw
}

.awards_heading--title {
    margin-bottom: 2vw
}

.awards_group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 14.25vw;
    column-gap: 14.25vw
}

.awards_group--item {
    display: flex;
    flex-direction: column;
    gap: 1.5vw
}

.awards_group--logo {
    padding-bottom: 1vw;
    border-bottom: 1px solid #2a2a2a
}

.Awards_logo__a0Mbe {
    width: auto;
    height: 2vw
}

.Awards_logo__a0Mbe img {
    width: auto;
    height: 100%
}

.awards_group--info {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

@media screen and (max-width: 480px) {
    .awards_section {
        margin-top:20vw;
        margin-bottom: 20vw
    }

    .awards_heading {
        width: 100%;
        margin-bottom: 20vw
    }

    .awards_heading--title {
        margin-bottom: 4vw
    }

    .awards_group {
        grid-template-columns: 1fr;
        row-gap: 20vw
    }

    .awards_group--item {
        gap: 4vw
    }

    .awards_group--logo {
        padding-bottom: 6.4vw
    }

    .Awards_logo__a0Mbe {
        height: 8vw
    }
}
.animation_moveUp {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveUp_desk--label {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp_desk--label {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveDown {
    transform: translateY(-120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveDown {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fadeRotate {
    opacity: 0;
    transform: scale(1.3) rotate(8deg);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeRotate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: var(--delay)
}

.animation_fadeUp__des {
    opacity: 0;
    transform: translateY(80%);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeUp__des {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fillWidth__bd {
    width: 0;
    transition: width 1s cubic-bezier(.3,.3,0,1)
}

.animation_ready .animation_fillWidth__bd {
    width: 100%;
    transition-delay: var(--delay)
}

.animation_fillHeight__bg {
    height: 0%;
    transition: height 6s cubic-bezier(.3,.3,0,1)
}

.animation_ready .animation_fillHeight__bg {
    height: 100%;
    transition-delay: var(--delay)
}

.Animation_moveUpImg__Y17vs {
    transform: translateY(120%);
    transition: transform 2.4s cubic-bezier(.4,.4,.1,1)
}

.animation_ready .Animation_moveUpImg__Y17vs {
    transform: translateY(0);
    transition-delay: var(--delay)
}

@media screen and (max-width: 480px) {
    .animation_moveUp_desk--label {
        transform:translateY(0);
        transition: none
    }

    .animation_moveUp_mobi--label {
        transform: translateY(120%);
        transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
    }

    .animation_ready .animation_moveUp_mobi--label {
        transform: translateY(0);
        transition-delay: var(--delay)
    }
}

@keyframes transition_loading {
    0% {
        height: 0;
        opacity: 1
    }

    50% {
        height: 100%;
        opacity: 1
    }

    to {
        height: 100%;
        opacity: 0
    }
}

.transition_wrapper__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 998;
    color: #fafafa;
    background-color: #0f0f0f;
    transform: translateY(110%);
    transition: none
}

.transition_wrapper__loading.transition_loading {
    transition: transform .8s cubic-bezier(.24,.36,0,1);
    transform: translateY(0)
}

.transition_wrapper__loading.transition_loaded {
    transform: translateY(-110%)
}

.transition_logo {
    position: absolute;
    margin: auto
}

.transition_logo--back {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #3c3c3c;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--mask {
    overflow: hidden;
    height: 0;
    transform-origin: 50% 100%
}

.transition_logo--text {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #ccc4b9;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--text,.transition_logo--mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.transition_loading .transition_logo--mask {
    animation: transition_loading 4s linear .8s infinite
}

@media screen and (max-width: 480px) {
    .transition_logo--back,.transition_logo--text {
        height:5vw;
        font-size: 5vw
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 769px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 1281px) {
    .transition_logo--back,.transition_logo--text {
        height:1.5vw;
        font-size: 1.5vw
    }
}

.Cookies_banner__fdun8 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 997;
    color: #f0f0f0;
    background: #0f0f0f;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    padding: 8px 10px 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 20px
}

.Cookies_text__9X85o {
    padding-bottom: 2px
}

.Cookies_buttons__p_Grl {
    display: flex;
    gap: 10px
}

.Cookies_link__UjlDm:after {
    background-color: #f0f0f0!important
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY {
    color: #a4a4a4
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY:after {
    background-color: #a4a4a4!important
}

@media screen and (max-width: 480px) {
    .Cookies_banner__fdun8 {
        padding:2px 20px 0
    }

    .Cookies_text__9X85o {
        display: flex;
        align-items: center
    }

    .Cookies_link__UjlDm {
        height: 40px;
        text-decoration: underline;
        text-underline-offset: 3px
    }
}

.global_cases--container {
    position: relative;
    z-index: 2
}

.work_title--number {
    overflow: hidden
}

.Global_hidden__dPWsA {
    display: none
}

.global_pagename {
    position: relative
}

.Global_desktop__PxvuW {
    display: initial
}

.Global_mobile__Gt8iA {
    display: none
}

.global_link {
    position: relative;
    padding-bottom: 2px;
    text-transform: uppercase
}

.global_link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    background-color: #2a2a2a
}

.global_link.Global_active__0rvE4:after,.global_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.Global_linkRedraw__GxzsY {
    position: relative;
    transition: transform .3s
}

.Global_linkRedraw__GxzsY:after,.Global_linkRedraw__GxzsY:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    border-bottom: 1px solid
}

.Global_linkRedraw__GxzsY:after {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center 0
}

.Global_linkRedraw__GxzsY:hover:before {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s ease-in-out .3s,transform .3s ease-in-out 0s
}

.Global_linkRedraw__GxzsY:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease-in-out .3s
}

.global_link--work {
    padding-bottom: .4vw
}

.global_link--work:after {
    height: 2px
}

.global_grey--bg {
    background-color: #f0f0f0;
    color: #2a2a2a
}

.global_green--bg {
    background-color: #bcbcb4;
    color: #2a2a2a
}

.global_dark--bg {
    background-color: #0f0f0f;
    color: #ccc4b9
}

.global_dark--bg .global_link:after {
    background-color: #ccc4b9
}

.global_transparent__bg {
    color: #fafafa
}

.global_transparent__bg .global_link:after {
    background-color: #fafafa
}

@media screen and (max-width: 480px) {
 
    .Global_desktop__PxvuW {
        display: none
    }

    .Global_mobile__Gt8iA {
        display: initial
    }

    .Global_grid__035aN {
        gap: 4vw;
        padding: 0 4vw
    }

    .global_link:after {
        display: none
    }
}

.Grid_grid__JtSOM {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    z-index: 999999999
}

.Grid_grid__JtSOM div {
    width: 100%;
    background: rgba(0,0,0,.1)
}

.Grid_grid__JtSOM.Grid_light__38CuD div {
    background: hsla(0,0%,100%,.1)
}

@media screen and (max-width: 480px) {
    .Grid_grid__JtSOM {
        gap:4vw;
        padding: 0 4vw
    }
}