
.animation_moveUp {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveUp_desk--label {
    transform: translateY(120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveUp_desk--label {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_moveDown {
    transform: translateY(-120%);
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_moveDown {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fadeRotate {
    opacity: 0;
    transform: scale(1.3) rotate(8deg);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeRotate {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: var(--delay)
}

.animation_fadeUp__des {
    opacity: 0;
    transform: translateY(80%);
    transition: opacity 1s cubic-bezier(.075,0,.165,0),transform 1.5s cubic-bezier(.075,.82,.165,1)
}

.animation_ready .animation_fadeUp__des {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--delay)
}

.animation_fillWidth__bd {
    width: 0;
    transition: width 1s cubic-bezier(.3,.3,0,1)
}

.animation_ready .animation_fillWidth__bd {
    width: 100%;
    transition-delay: var(--delay)
}

.animation_fillHeight__bg {
    height: 0%;
    transition: height 6s cubic-bezier(.3,.3,0,1)
}

.animation_ready .animation_fillHeight__bg {
    height: 100%;
    transition-delay: var(--delay)
}

.Animation_moveUpImg__Y17vs {
    transform: translateY(120%);
    transition: transform 2.4s cubic-bezier(.4,.4,.1,1)
}

.animation_ready .Animation_moveUpImg__Y17vs {
    transform: translateY(0);
    transition-delay: var(--delay)
}

@media screen and (max-width: 480px) {
    .animation_moveUp_desk--label {
        transform:translateY(0);
        transition: none
    }

    .animation_moveUp_mobi--label {
        transform: translateY(120%);
        transition: transform 1.5s cubic-bezier(.075,.82,.165,1)
    }

    .animation_ready .animation_moveUp_mobi--label {
        transform: translateY(0);
        transition-delay: var(--delay)
    }
}

@keyframes transition_loading {
    0% {
        height: 0;
        opacity: 1
    }

    50% {
        height: 100%;
        opacity: 1
    }

    to {
        height: 100%;
        opacity: 0
    }
}

.transition_wrapper__loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 998;
    color: #fafafa;
    background-color: #0f0f0f;
    transform: translateY(110%);
    transition: none
}

.transition_wrapper__loading.transition_loading {
    transition: transform .8s cubic-bezier(.24,.36,0,1);
    transform: translateY(0)
}

.transition_wrapper__loading.transition_loaded {
    transform: translateY(-110%)
}

.transition_logo {
    position: absolute;
    margin: auto
}

.transition_logo--back {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #3c3c3c;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--mask {
    overflow: hidden;
    height: 0;
    transform-origin: 50% 100%
}

.transition_logo--text {
    display: flex;
    align-items: flex-end;
    height: 1.5vw;
    color: #ccc4b9;
    font-size: 1.5vw;
    line-height: 1.2
}

.transition_logo--text,.transition_logo--mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.transition_loading .transition_logo--mask {
    animation: transition_loading 4s linear .8s infinite
}

@media screen and (max-width: 480px) {
    .transition_logo--back,.transition_logo--text {
        height:5vw;
        font-size: 5vw
    }
}

@media screen and (min-width: 481px)and (max-width:768px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 769px) {
    .transition_logo--back,.transition_logo--text {
        height:3.5vw;
        font-size: 3.5vw
    }
}

@media screen and (min-width: 1281px) {
    .transition_logo--back,.transition_logo--text {
        height:1.5vw;
        font-size: 1.5vw
    }
}

.Cookies_banner__fdun8 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 997;
    color: #f0f0f0;
    background: #0f0f0f;
    border-top: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    padding: 8px 10px 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 20px
}

.Cookies_text__9X85o {
    padding-bottom: 2px
}

.Cookies_buttons__p_Grl {
    display: flex;
    gap: 10px
}

.Cookies_link__UjlDm:after {
    background-color: #f0f0f0!important
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY {
    color: #a4a4a4
}

.Cookies_link__UjlDm.Cookies_dark__RRCMY:after {
    background-color: #a4a4a4!important
}

@media screen and (max-width: 480px) {
    .Cookies_banner__fdun8 {
        padding:2px 20px 0
    }

    .Cookies_text__9X85o {
        display: flex;
        align-items: center
    }

    .Cookies_link__UjlDm {
        height: 40px;
        text-decoration: underline;
        text-underline-offset: 3px
    }
}

.global_cases--container {
    position: relative;
    z-index: 2
}

.work_title--number {
    overflow: hidden
}

.Global_hidden__dPWsA {
    display: none
}

.global_pagename {
    position: relative
}

.Global_desktop__PxvuW {
    display: initial
}

.Global_mobile__Gt8iA {
    display: none
}

.global_link {
    position: relative;
    padding-bottom: 2px;
    text-transform: uppercase
}

.global_link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    background-color: #2a2a2a
}

.global_link.Global_active__0rvE4:after,.global_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.Global_linkRedraw__GxzsY {
    position: relative;
    transition: transform .3s
}

.Global_linkRedraw__GxzsY:after,.Global_linkRedraw__GxzsY:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    border-bottom: 1px solid
}

.Global_linkRedraw__GxzsY:after {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center 0
}

.Global_linkRedraw__GxzsY:hover:before {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s ease-in-out .3s,transform .3s ease-in-out 0s
}

.Global_linkRedraw__GxzsY:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease-in-out .3s
}

.global_link--work {
    padding-bottom: .4vw
}

.global_link--work:after {
    height: 2px
}

.global_grey--bg {
    background-color: #f0f0f0;
    color: #2a2a2a
}

.global_green--bg {
    background-color: #bcbcb4;
    color: #2a2a2a
}

.global_dark--bg {
    background-color: #0f0f0f;
    color: #ccc4b9
}

.global_dark--bg .global_link:after {
    background-color: #ccc4b9
}

.global_transparent__bg {
    color: #fafafa
}

.global_transparent__bg .global_link:after {
    background-color: #fafafa
}

@media screen and (max-width: 480px) {
  

    .Global_desktop__PxvuW {
        display: none
    }

    .Global_mobile__Gt8iA {
        display: initial
    }

    .Global_grid__035aN {
        gap: 4vw;
        padding: 0 4vw
    }

    .global_link:after {
        display: none
    }
}

.Grid_grid__JtSOM {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vw;
    padding: 0 2vw;
    z-index: 999999999
}

.Grid_grid__JtSOM div {
    width: 100%;
    background: rgba(0,0,0,.1)
}

.Grid_grid__JtSOM.Grid_light__38CuD div {
    background: hsla(0,0%,100%,.1)
}

@media screen and (max-width: 480px) {
    .Grid_grid__JtSOM {
        gap:4vw;
        padding: 0 4vw
    }
}

.caseStudy_intro {
    margin-top: 55px;
    margin-bottom: 4vw;
    padding-top: 6vw
}

.caseStudy_intro--grid {
    display: grid;
    margin-top: 2vw;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.caseStudy_num--wrap {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: Area;
    align-self: start;
    justify-self: stretch
}

.caseStudy_dashWrap__box {
    overflow: hidden;
    width: 8vw;
    height: 1px
}

.caseStudy_dashInner__line {
    width: 0;
    height: 100%;
    background-color: #ccc4b9;
    transform-origin: 0 50%
}

.caseStudy_num--total {
    overflow: hidden;
    grid-area: Area-2;
    align-self: start;
    justify-self: start
}

.caseStudy_tags--wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: Area-3;
    justify-self: start;
    align-self: start
}

.caseStudy_tags--item {
    overflow: hidden
}

.caseStudy_year {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    grid-area: Area-4;
    justify-self: end;
    align-self: start
}

.caseStudy_img--section {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.caseStudy_img--wrap {
    overflow: hidden;
    height: 45vw;
    display: flex;
    align-items: flex-end
}

.caseStudy_img--box {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center
}

.caseStudy_img--box img {
    object-fit: cover;
    height: 100%
}

.caseRelated_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    margin-top: 4vw;
    padding-bottom: 2vw
}

.caseRelated_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

@media screen and (max-width: 480px) {
    .caseStudy_intro {
        margin-bottom:8vw;
        padding-top: 24vw
    }

    .caseStudy_intro--grid {
        margin-top: 4vw;
        grid-template-areas: "Area Area Area Area-2" "Area-3 Area-3 Area-3 Area-3";
        column-gap: 4vw
    }

    .caseStudy_dashWrap__box {
        width: 22.5vw
    }

    .caseStudy_num--total {
        align-self: end;
        justify-self: end
    }

    .caseStudy_tags--wrap {
        margin-top: 8vw
    }

    .caseStudy_year {
        display: none
    }

    .caseStudy_img--wrap {
        height: 100vw
    }

    .caseStudy_img--wrap div,.caseStudy_img--box {
        height: 100%
    }

    .CaseStudy_scopeSection__FPqUD {
        margin-top: 12vw
    }

    .CaseStudy_scopeGrid__oAbbq {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseStudy_scopeInnerGrid__LyCAN {
        margin-bottom: 8vw;
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .CaseStudy_pillar__y0ilY {
        gap: 4vw
    }

    .caseRelated_section {
        gap: 8vw;
        margin-top: 16vw
    }

    .caseRelated_list {
        grid-template-columns: 1fr;
        row-gap: 10vw
    }
}
.overviewCcasestudy {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.overviewCcasestudy_grid {
    display: grid;
    grid-template-areas: "Area Area Area Area Area Area Area Area" "Area-2 Area-2 Area-2 . Area-3 Area-3 Area-3 .";
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 8vw;
    row-gap: 8vw
}

.overviewCcasestudy_heading {
    grid-area: Area
}

.overviewRecognition {
    grid-area: Area-2
}

.overviewRecognition_heding {
    display: flex;
    margin-bottom: 2vw
}

.overviewRecognition_count {
    margin-top: .05vw;
    margin-left: .1vw;
    font-size: 12px
}

.overview_list--links {
    margin-bottom: 2vw
}

.overview_list--links a {
    margin-bottom: .1vw
}

.overview_blocks___view {
    grid-area: Area-3
}

.overview_blocks___view--item {
    margin-bottom: 4vw
}

.overview_blocks___view--item:last-child {
    margin-bottom: 0
}

.overview_blocks___view--heding {
    margin-bottom: 2vw
}

@media screen and (max-width: 480px) {
    .overviewCcasestudy {
        margin-top:16vw;
        margin-bottom: 16vw
    }

    .overviewCcasestudy_grid {
        grid-template-areas: "Area" "Area-2" "Area-3";
        grid-template-columns: 1fr;
        row-gap: 16vw
    }

    .overviewRecognition_heding {
        margin-bottom: 4vw
    }

    .overviewRecognition_count {
        margin-top: .5vw;
        margin-left: 1vw
    }

    .overview_list--links {
        margin-bottom: 8vw
    }

    .overview_list--links a {
        margin-bottom: .5vw
    }

    .overview_blocks___view--item {
        margin-bottom: 8vw
    }

    .overview_blocks___view--heding {
        margin-bottom: 4vw
    }
}

@media screen and (min-width: 1921px) {
    .overviewRecognition_count {
        margin-top:.07vw;
        margin-left: .2vw;
        font-size: .8vw
    }
}
@keyframes FullVideo_video-load__We6zh {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.fullVideo_section {
    margin-top: 2vw;
    margin-bottom: 2vw;
    object-fit: cover;
    overflow: hidden
}

.fullVideo_wrap,.fullVideo_section {
    display: flex;
    justify-content: center;
    align-items: center
}

.fullVideo_wrap {
    position: relative;
    width: 100vw;
    background-color: #161616
}

.fullVideo_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.fullVideo_progress--box {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.fullVideo_progress {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: FullVideo_video-load__We6zh 2s linear 0s infinite forwards
}

.fullVideo_video--data {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 54vw;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover
}

.fullVideo_padding__box .fullVideo_wrap {
    padding-top: 20vh;
    padding-bottom: 20vh
}

.fullVideo_padding__box .fullVideo_video--data {
    width: 71.5vw;
    height: 40.21875vw
}

.fullVideo_section--bgImg .fullVideo_video--data {
    position: absolute;
    width: 71.5vw;
    height: 40.21875vw
}

@media screen and (max-width: 480px) {
    .fullVideo_section {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .fullVideo_padding__box .fullVideo_wrap {
        padding-top: 8vw;
        padding-bottom: 8vw
    }

    .fullVideo_padding__box .fullVideo_video--data,.fullVideo_section--bgImg .fullVideo_video--data {
        width: 80vw;
        height: 45vw
    }
}
.textBreak_section {
    margin-top: 8vw;
    margin-bottom: 8vw
}

@media screen and (max-width: 480px) {
    .textBreak_section {
        margin-top:12vw;
        margin-bottom: 12vw
    }
}
.sectionHeading {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.sectionHeading_grid {
    display: grid;
    grid-template-areas: "Area Area Area . Area-2 Area-2 Area-2";
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.sectionHeading_grid div:first-of-type {
    grid-area: Area
}

.sectionHeading_grid div:nth-of-type(2) {
    grid-area: Area-2
}

@media screen and (max-width: 480px) {
    .sectionHeading {
        margin-top:12vw;
        margin-bottom: 12vw
    }

    .sectionHeading_grid {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 4vw
    }
}
.fullImage_secion {
    position: relative;
    margin-top: 2vw;
    margin-bottom: 2vw
}

.fullImage_wrap {
    width: 100%
}

.fullImage_img {
    object-fit: cover
}

.FullImage_caption__tKLuk {
    margin-top: 1vw
}

@media screen and (max-width: 480px) {
    .fullImage_secion {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .FullImage_caption__tKLuk {
        margin-top: 3vw
    }
}
@keyframes ImgVidGrid_video-load__ymrD7 {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.imgVid {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.imgVid_grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.imgVid_img {
    width: 100%;
    object-fit: cover
}

.ImgVidGrid_caption__iUTwf {
    margin-top: 1vw
}

.ImgVidGrid_video__box {
    position: relative;
    background-color: #161616
}

.ImgVidGrid_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.ImgVidGrid_progress--wrap {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.ImgVidGrid_progress {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: ImgVidGrid_video-load__ymrD7 2s linear 0s infinite forwards
}

.ImgVidGrid_container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35.35vw
}

@media screen and (max-width: 480px) {
    .imgVid {
        margin-top:4vw;
        margin-bottom: 4vw
    }

    .imgVid.ImgVidGrid_interview__2qVG2 {
        margin-top: 12vw;
        margin-bottom: 12vw
    }

    .imgVid_grid {
        grid-template-columns: 1fr;
        row-gap: 4vw
    }

    .ImgVidGrid_caption__iUTwf {
        margin-top: 3vw
    }

    .ImgVidGrid_container {
        height: 69vw
    }
}
.parallax_image_section {
    position: relative
}

.parallax_image--wrap {
    overflow: hidden;
    width: 100%
}

.parallax_image--img {
    object-fit: cover
}

.ParallaxImage_caption__Yxq3b {
    margin-top: 1vw
}
@keyframes TextPin_video-load__qXcvY {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.textPin_section {
    margin-top: 2vw;
    margin-bottom: 2vw
}

.textPin_grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw
}

.textPin_box {
    width: 34.75vw;
    position: -webkit-sticky;
    position: sticky;
    top: 80px
}

.textPin_heading {
    margin-bottom: 2vw
}

.textPin_list {
    display: flex;
    flex-direction: column;
    gap: 2vw
}

.TextPin_posterWrap__eS1Tp {
    width: 34.75vw
}

.TextPin_img__vc3fQ {
    width: 100%;
    object-fit: cover
}

.textPin_video {
    position: relative;
    background-color: #161616
}

.textPin_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.textPin_progress--wrap {
    overflow: hidden;
    height: 1px;
    width: 10vw;
    background-color: #949494
}

.textPin_progress {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    animation: TextPin_video-load__qXcvY 2s linear 0s infinite forwards
}

.textPin_video--data {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35.35vw
}

@media screen and (max-width: 480px) {
    .textPin_section {
        margin-top:12vw;
        margin-bottom: 4vw
    }

    .textPin_grid {
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .textPin_box {
        width: 100%;
        position: relative;
        top: 0
    }

    .textPin_heading {
        margin-bottom: 4vw
    }

    .textPin_list {
        gap: 4vw
    }

    .TextPin_posterWrap__eS1Tp {
        width: 100%
    }

    .textPin_video--data {
        height: 69vw
    }
}
.caseService_section {
    margin-top: 8vw;
    margin-bottom: 8vw
}

.caseService_section ul {
    gap: .2vw
}

.caseService_grid {
    display: grid;
    grid-template-areas: "Area Area-2";
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    row-gap: 2vw
}

.caseService_box {
    grid-area: Area-2
}

.caseService_list {
    margin-bottom: 4vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 4vw;
    row-gap: 4vw
}

.caseService_item {
    display: flex;
    flex-direction: column;
    gap: 1vw
}

@media screen and (max-width: 480px) {
    .caseService_section {
        margin-top:12vw
    }

    .caseService_grid {
        grid-template-areas: "Area" "Area-2";
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .caseService_list {
        margin-bottom: 8vw;
        grid-template-columns: 1fr;
        row-gap: 8vw
    }

    .caseService_item {
        gap: 4vw
    }
}
